tmp/
.vscode
.mypy_cache
__pycache__
notebooks
submitit_jobs
test*
.DStore
build
dist
*.egg-info
stimuli
notebooks
models
scores
outputs
peech_features.py
main.py
rename_files.py
get_fairseq_models.py
